.addProductContainer {
    width: 100%;
    padding: 20px 25px 0 25px;
}

.addProductContainer h3 {
    font-size: 22px;
}

.postingForm {
    display: flex;
    flex-direction: column;
}

.postingForm input {
    margin: 10px 0;
}

.questionContainer {
    margin: 20px 0;
}

.questionHeading {
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}

.inputRadioWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputRadioWrapper input {
    margin: 0;
    margin-right: 10px;
}

.inputRadioWrapper label {
    font-size: 20px;
    margin: 10px 0;
}

.labelText {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.labelText input {
    font-size: 20px;
}

.inputRadioWrapper input[type="radio"]:checked ~ * { 
    text-decoration: underline;
}

/* .inputRadioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.inputRadioLabel .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
.inputRadioLabel:hover input ~ .checkmark {
    background-color: #ccc;
}

.inputRadioLabel input:checked ~ .checkmark {
    background-color: #2196F3;
  } */

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.radio {
    position: absolute;
    visibility: hidden;
}

.radioLabel {
    margin-left: 30px;
}

.check {
    display: block;
    position: absolute;
    border: 2px solid #dbdada;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    z-index: 5;
  }

.check::before {
    transition: all .2s ease-in-out;
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 3px;
    left: 3px;
    margin: auto;
  }

.radio:checked ~ .check {
    border: 2px solid #ea947e;
}

.radio:checked ~ .check::before{
    background: #ea947e;
}