.headerWizard {
    height: 100vh;
    padding: 0 95px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../../../src/images/paw-large.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.headerWizard p {
    margin-top: 15px;
    margin-bottom: 0;
}

.headerWizard button {
    margin-top: 20px;
}

.wizardContainer {
    height: 100vh;
    background-color: #e8e7e7;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 25px;
    padding-top: 60px;
}

.stepContainer {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    min-width: 730px;
}

.wizardButtonWrapper {
    margin: 30px 0;
}

.wizardButtonWrapper button {
    margin-right: 10px;
}

.stepTitle {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.inputContainerCheckbox {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.invisible {
    color: green;
    display: none;
}

/* Radio  */

.radio {
    position: absolute;
    visibility: hidden;
}

.radioLabel {
    margin-left: 30px;
}

.check {
    display: block;
    position: absolute;
    border: 2px solid #dbdada;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    z-index: 5;
  }

.check::before {
    transition: all .2s ease-in-out;
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 3px;
    left: 3px;
    margin: auto;
  }

.radio:checked ~ .check {
    border: 2px solid #ea947e;
}

.radio:checked ~ .check::before{
    background: #ea947e;
}

/* Checkbox */

.checkbox {
    position: relative;
    top: rem(-6);
    margin: 4px 16px 0 0 ;
    cursor: pointer;
}

.checkbox:before {
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2; 
}

.checkbox:checked:before {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #ea947e;
    border-top-style: none;
    border-right-style: none;
} 

.checkbox:after {
    content: "";
    position: absolute;
    top: rem(-2);
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.resultButtonWrapper {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.dogResult {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 720px) {
    .headerWizard {
        height: 100vh;
        min-height: -webkit-fill-available;
        padding: 0 95px 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url('../../../src/images/paw.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }

    .wizardContainer {
        height: 90vh;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 25px;
        padding-top: 60px;
    }

    .stepContainer {
        background-color: transparent;
        padding: 0;
        border-radius: 0px;
        min-width: auto;
    }

    .dogResult {
        display: block;
    }
}