.peopleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}
.people {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #222222;
}

.linda {
    background: url('../../../images/Linda.jpg');
    background-size: cover;
    background-position: center;
}

.ida {
    background: url('../../../images/ida3.png');
    background-size: cover;
    background-position: center;
}

.therese {
    background: url('../../../images/therese.jpeg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 820px) {
    .people {
        height: 100px;
        width: 100px;
    }
}