.timelineWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeContainer {
    background-color: rgb(225, 234, 244);
    padding: 25px;
    margin-bottom: 25px;
}

.timeContainer:nth-child(2) {
    background-color: #e6e6e6;
    padding: 25px;
    margin-bottom: 25px;
}

.timeContainer:nth-child(3) {
    background-color: #f5dcd5;
    padding: 25px;
    margin-bottom: 25px;
}

.dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashedLine {
    width: 0;
    border: 1px dashed #000000;
    min-height: 30px;
    margin-left: 15px;
    position: absolute;
    height: 155%;
    left: -20px;
    top: -25px;
}

.dashedLine-last {
    height: 100%;
}

.time {
    display: flex;
    flex-direction: row;
    position: relative;
}

.timelineButton {
    background-color: transparent;
    border: none;
    margin: 0 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.timeContent {
    display: flex;
    flex-direction: column;
    margin: 10px 13px;
    transition: ease-in;
}

.timeContent p {
    font-size: 16px;
    line-height: 24px;
}

.timeContent ul {
    margin: 0 0 16px 0;
}

.timeContent ul li {
    margin-bottom: 8px;
}

.arrow {
    position: absolute;
    bottom: -45px;
    left: -8px;
}

@keyframes slideIn {
    to {
        height: 100%;
    }
}