.footer-wrapper {
    height: 200px;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}