.footer-wrapper {
    height: 200px;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-wrapper p {
    margin: 10px 0 0 0;
}

.footer-wrapper a {
    color: white;
    margin: 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.footer-icons img {
    width: 20px;
    margin-right: 10px;
}