.footerWrapper {
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 50px 30px 50px;
}

.footerLogoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 45px; */
}

.footerLogoWrapper span {
    font-weight: bold;
}

.footerLogo {
    width: 20px;
    margin-right: 10px;
}

.logoEmail {
    color: #ffffff;
}

.logoEmail:hover {
    text-decoration: underline;
}

.footerInfoWrapper {
    margin: 30px 0;
}

.footer-wrapper p {
    margin: 10px 0 0 0;
}

.footer-wrapper a {
    color: white;
    margin: 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.footer-icons img {
    width: 20px;
    margin-right: 10px;
}